
pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/

# MacOS files
.DS_Store

# Project files
.shadow-cljs
node_modules
resources/public/js/core

# x.core
resources/public/x/build-version.edn
environment/x/installation-errors.log
environment/x/installed-packages.edn

# x.media
environment/media/thumbnails/*
environment/media/temp/*
environment/media/storage/*

# app.website-config
environment/project/website-config.edn
