
{:paths ["boot-loader" "resources" "source-code"]
 :deps  {monotech-hq/project-compiler  {:git/url "git@github.com:monotech-hq/project-compiler"
                                        :sha     "1e6cf3b3af236086af4c51f6da2c90143f57fc82"}
         monotech-hq/project-developer {:git/url "git@github.com:monotech-hq/project-developer.git"
                                        :sha     "f6172e2a12ec0070f33bfc1b57110e89196245be"}
         monotech-hq/project-kit       {:git/url "git@github.com:monotech-hq/project-kit"
                                        :sha     "8805fdf9aac949adaf3b8b9377c2ed99cf24d893"}}

 :aliases
 {:site.dev  {:exec-fn    sample.backend.main/dev
              :exec-args  {:port 3000 :shadow-build :site.dev}
              :jvm-opts   ["-Dclojure.server.repl={:port,5555,:accept,clojure.core.server/repl}"]
              :extra-deps {}}

  :app.dev   {:exec-fn    sample.backend.main/dev
              :exec-args  {:port 3000 :shadow-build :app.dev}
              :jvm-opts   ["-Dclojure.server.repl={:port,5555,:accept,clojure.core.server/repl}"]
              :extra-deps {}}

  :prod {:extra-deps {}
         :exec-fn   compiler.core/compile-app!
         :exec-args {:java-config   {:aot true :jar-type :uber :main-class sample.backend.main}
                     :shadow-builds [:site.prod :app.prod]}}}}
