
; To apply the changes of this file you must restart the x5 server!
; 
; When a user added to the system, the default-user-settings will be
; the initial state of its user-settings document.
; 
; @edn (map) default-user-settings
; {...}

{}
